* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem 5%;
}

.logo-wrapper, 
.button-wrapper {
    flex: 1;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.nav_links {
    display: flex;
    list-style: none;
    gap: 20px;
    white-space: nowrap; 
}