@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;0,800;1,700;1,800&family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: black;
}

/* Navbar styling */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.025);
    border-bottom: rgba(255, 0, 0, 0.50) solid 2px;
    box-shadow: 0 2px 10px rgba(255, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 1rem 5%;
}

.logo-wrapper, 
.button-wrapper {
    flex: 1;
}

.logo-wrapper {
    color: white;
}

.logo-wrapper span {
    color: red; 
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.logo-wrapper h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 500;
}

.nav_links {
    display: flex;
    list-style: none;
    gap: 30px;
    white-space: nowrap; 
}

.nav_links li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    display: inline-block;

    transition: all 0.3s ease;
}

.nav_links li a:hover {
    color: red;
    transform: scale(1.1);
}

.button-wrapper button {
    background-color: red;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-wrapper button:hover {
    background-color: rgba(0, 0, 0);
    border: red solid 2px;
    transform: scale(1.1);
}

/* Main sections styling */

main {
    width: 100%;
}

#Home, 
#About,
#Skills {
    box-sizing: border-box;
    padding-top: 100px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Home section styling */

#Home {
    flex-direction: column;
    gap: 25px;
    padding: 120px 0 0;
}

#Home .AvailableNow {
    background-color: rgba(0, 0, 0);
    backdrop-filter: blur(10px);
    padding: 10px 30px;
    border: red solid 2px;
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.AvailableNow p {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.2rem;
}

#Home span {
    color: red;
}

#Home h1, #Home h2, #Home p {
    color: white;
    text-align: center;
}

#Home h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 4.5rem;
    letter-spacing: 5px;
    font-weight: 800;
}

#Home h2 {  
    letter-spacing: 5px;
    font-size: 2.5rem;
}

#Home > p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
    max-width: 1200px;
    line-height: 1.6;
    padding: 10px 0;
}

.btn_container {
    display: flex;
    gap: 100px;
}

.btn_container .button1, .btn_container .button2 {
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
}

.btn_container button {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
}

.btn_container .button1 {
    background-color: red;
    border: none;

    transition: all 0.3s ease;
}

.btn_container .button1:hover {
    background-color: rgba(0, 0, 0);
    transform: scale(1.1);
    border: red solid 2px;
}

.btn_container .button2{
    background-color: black;
    border: red solid 2px;

    transition: all 0.3s ease;
}

.btn_container .button2:hover {
    background-color: red;
    transform: scale(1.1);
    border: none;
}

/* About section styling */

#About {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.aboutLeft-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
    padding: 0 5%;
}

.aboutLeft-wrapper h1, 
.aboutLeft-wrapper p{
    color: white;
    letter-spacing: 1.6px;
    line-height: 1.6;
}

.aboutLeft-wrapper h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3rem;
    font-weight: 800;
}

.aboutLeft-wrapper span {
    color: red;
}

.aboutLeft-wrapper p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

.aboutRight-wrapper img {
    padding: 50px 50px 0 0;
    width: 600px;
    height: auto;
}

/* Skills section styling */

#Skills {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.5% 0 0 0;
}

.skills-container {
    gap: 50px;
    padding: 0 5%;
}

#Skills h1, .display-skills h2 {
    color: white;
    letter-spacing: 1.6px;
}

#Skills h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3rem;
    font-weight: 800;
}

#Skills span {
    color: red;
}

.display-skills {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 80px;
    padding-top: 30px;
}

.display-skills h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

.skills-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills-column .skill-box {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1.6px;
    padding: 15px 20px;
    color: white;
    background-color: rgba(0, 0, 0);
    border: red solid 2px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.70);
}

